<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CaseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="defaultConStr" value="Server={0};Database={1};User Id={2};Password={3};"/>
    <!--<add key="masterConStr" value="Server={0};Database=master;User Id={1};Password={2};"/>-->
  
  </appSettings>
  <userSettings>
    <CaseControl.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
    </CaseControl.Properties.Settings>
  </userSettings>
</configuration>
