<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupFolder" value="C:\Program Files (x86)\Ultrasonic Software and Technologies\Case Control System\DBBackup"/>
    <add key="DatabaseName" value="CaseControlDB"/>
    <add key="DbServerName" value="localhost\SQLEXPRESS"/>
    <add key="ScheduledTime" value="12:35:00"/>
  </appSettings>
</configuration>